<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @partner.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @partner.code %>
</p>

<%= render partial: "partners/terms", locals: { partner: @partner} %>

<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
