<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @super_partner.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @super_partner.code %>
</p>

<%= render partial: "partners/terms", locals: { partner: @super_partner} %>

<%= link_to 'Edit', edit_super_partner_path(@super_partner) %> |
<%= link_to 'Back', super_partners_path %>
